mixin event(eventData)
    .event 
        .event__details
            .event__details--data
                .event__details--data__title= eventData.title
                .event__details--data__host= eventData.host
            - let memMsg = (eventData.members) + ' members';
            .event__details--members= memMsg
            .event__details--share
                button.event__details--share__button
                    i.fas.fa-share-alt.event__details--share__button--icon
        .event__main
            .event__main__members
                .event__main__members--pfp
                    img&attributes(eventData.pfp1).event__main__members--pfp__img
                .event__main__members--pfp
                    img&attributes(eventData.pfp2).event__main__members--pfp__img
                - let lesserMem = "+" + (eventData.members-2);
                .event__main__members--pfp= lesserMem
            .event__main__description
                p.event__main__description--text= eventData.description
            .event__actions
                button.event__actions--join Ask to Join 
                button.event__actions--info Get Required Info
            
doctype html
html
    include ./includes/head.pug
    body 
        include ./includes/header.pug
         
        main 
            include ./includes/event.pug
            include ./includes/event.pug
            +event(event)